* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
}

img {
  width: 100%;
  display: block;
  margin: 2rem 0;
}

h2 {
  font-size: 4rem;
  background-color: white;
}

p {
  margin-bottom: 2rem;
}

main {
  max-width: 80rem;
  margin: 0 auto;
}

section {
  margin: 4rem 0;
  /* border: 4px solid green; */

  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}

.left {
  position: sticky;
  top: 2rem;
  /* border: 2px solid red; */
  flex-basis: 48%;
  flex-grow: 1;
}

.right {
  flex-basis: 48%;
  flex-grow: 1;
  min-width: 28rem;
  
  /* prevent me from getting too narrow */
}

p {
  font-size: 2rem;
  line-height: 1.75;
}