* {margin: 0; padding: 0; box-sizing: border-box;}

/* Sitewide fonts and colors */
:root {
  --ff-primary: Inter, sans-serif;
  --ff-titles: Forum, serif;

  --clr-primary: hsl(0, 0%, 2%);
  --clr-secondary: hsl(0, 0%, 80%);
  --clr-accent: hsl(353, 60%, 60%);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--ff-primary);
}

#wrapper {
  flex-grow: 1;
}

main {
  margin-block: 4rem;
  margin-inline: auto;
  max-width: 60rem;
  padding: 0 1em;
}

h1, h2, h3, h4, h5, h6 {
  margin-block: 1em;
}