* {margin: 0; padding: 0; box-sizing: border-box;}

/* Sitewide fonts and colors */
:root {
  --ff-primary: Inter, sans-serif;
  --ff-titles: Forum, serif;
  --ff-titles-2: Cairo, sans-serif;

  --clr-primary: hsl(0, 0%, 2%);
  --clr-secondary: hsl(0, 0%, 80%);
  --clr-accent: hsl(353, 60%, 60%);

  --fs-xl: clamp(2rem, 16vw, 5rem);
  --fs-l: clamp(1.75rem, 14vw, 4rem);
  --fs-m: clamp(1.125rem, 8vw, 1.5rem);
  --fs-s: clamp(1rem, 8vw, 2rem);
  --fs-xs: clamp(.8rem, 4vw, 1rem);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--ff-primary);
}

#wrapper {
  flex-grow: 1;
}

main {
  margin: 4rem auto;
  max-width: 60rem;
  padding: 0 1em;
}

h1, h2, h3, h4, h5, h6 {
  
}